@import url('http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext');
@import url('http://adobe-fonts.github.io/source-code-pro/');
@import url('https://code.cdn.mozilla.net/fonts/fira.css');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', serif;
  font-weight: 400;
  font-size: 24px;
  color: #4f145e;
  line-height: 1.17;
  background-color: #ffffff;
  /* max-width: 1200px; */
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style: none;
}

button {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  cursor: pointer;
}